
*.pbxproj

*.pbxproj

*.xccheckout

*.pbxproj

*.xcuserstate

FuzzyClock.xcodeproj/xcuserdata/matthew.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate

*.pbxproj

FuzzyClock.xcodeproj/project.pbxproj

FuzzyClock.xcodeproj/project.xcworkspace/xcuserdata/matthew.xcuserdatad/UserInterfaceState.xcuserstate

*.pbxproj
